/* Змінні бренду */
:root {
    --z-cyan: #00f2ff;
    --z-yellow: #ffde00;
    --z-pink: #ff00ff;
    --z-black: #000000;
    --z-border: 4px solid #000;
}

/* Глобальні налаштування */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
    color: var(--z-black);
}

/* Спільні класи для кнопок та тіней */
.shadow-pixel {
    box-shadow: 8px 8px 0px #000;
}

.shadow-hard {
    box-shadow: 12px 12px 0px #000;
}

.z-btn {
    border: var(--z-border);
    font-weight: 900;
    text-transform: uppercase;
    transition: 0.1s;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
}
